Flask == 2.3.2
Flask-Cors == 3.0.10
Flask-SQLAlchemy == 3.0.2
GeoAlchemy2 == 0.12.5
importlib-metadata == 6.0.0
psycopg2 == 2.9.5
pyproj == 3.4.1
pyshp == 2.3.1
requests == 2.31.0
SQLAlchemy == 1.4.46
Shapely == 2.0.0

# Testing
Flask-Testing == 0.8.1
factory-boy == 3.2.1
Faker == 16.3.0
pyfakefs == 5.0.0
